EPayments.Job.Host/Schemas/BNB.xsd

<xs:schema elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- ====================================================================== -->
    <xs:element name="f">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="h"/>
                <xs:element ref="a" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- ====================================================================== -->
    <xs:element name="h">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="refid" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="20"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="timestamp" type="xs:dateTime" use="required"/>
                    <xs:attribute name="sender" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="9"/>
                                <xs:maxLength value="13"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="sendername" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="35"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="receiver" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="BNBOnline"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <!-- ====================================================================== -->
    <xs:element name="a">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="d" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="acc" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="10"/>
                        <xs:maxLength value="22"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bic" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="cur" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="do" type="xs:decimal" use="required"/>
        </xs:complexType>
    </xs:element>
    <!-- ====================================================================== -->
    <xs:element name="d">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="bud" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="doc" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ПНКП"/>
                        <xs:enumeration value="ПНВБ"/>
                        <xs:enumeration value="БПН"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="nok" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ipol" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="iban" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="22"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bic" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="vpp" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="cur" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="su" type="xs:decimal" use="required"/>
            <xs:attribute name="o1" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="o2" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="35"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sys" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="РИНГС"/>
                        <xs:enumeration value="БИСЕРА"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="tax" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="kd" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dex" type="xs:date" use="optional"/>
            <xs:attribute name="vpn" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!-- ====================================================================== -->
    <xs:element name="bud">
        <xs:complexType>
            <xs:attribute name="vd" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="nd" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="17"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="dd" type="xs:date" use="optional"/>
            <xs:attribute name="db" type="xs:date" use="optional"/>
            <xs:attribute name="de" type="xs:date" use="optional"/>
            <xs:attribute name="izl" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="30"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="bul" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="9"/>
                        <xs:maxLength value="13"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="egn" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="lnc" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="10"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!-- ====================================================================== -->
</xs:schema>