EPayments.CVPosTransaction/Connected Services/CVPosService/NapWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.sucardws.bobs.bg/" targetNamespace="http://ws.sucardws.bobs.bg/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SucardFault" nillable="true" type="tns:sucardError" />
  <xs:element name="distributionRevenueAgencies" type="tns:distributionRevenueAgencies" />
  <xs:element name="distributionRevenueAgenciesResponse" type="tns:distributionRevenueAgenciesResponse" />
  <xs:element name="managment_POS" type="tns:managment_POS" />
  <xs:element name="managment_POSResponse" type="tns:managment_POSResponse" />
  <xs:element name="transactionsDifferentDays" type="tns:transactionsDifferentDays" />
  <xs:element name="transactionsDifferentDaysResponse" type="tns:transactionsDifferentDaysResponse" />
  <xs:element name="transactionsForDate" type="tns:transactionsForDate" />
  <xs:element name="transactionsForDateAPI" type="tns:transactionsForDateAPI" />
  <xs:element name="transactionsForDateAPIResponse" type="tns:transactionsForDateAPIResponse" />
  <xs:element name="transactionsForDateCurrency" type="tns:transactionsForDateCurrency" />
  <xs:element name="transactionsForDateCurrencyResponse" type="tns:transactionsForDateCurrencyResponse" />
  <xs:element name="transactionsForDateResponse" type="tns:transactionsForDateResponse" />
  <xs:complexType name="transactionsForDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="agency" type="xs:string" />
      <xs:element minOccurs="0" name="event" type="xs:string" />
      <xs:element minOccurs="0" name="dateEvent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionsForDateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:recEventTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recEventTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="areaOfIssue" type="xs:string" />
      <xs:element minOccurs="0" name="authorizationCode" type="xs:string" />
      <xs:element minOccurs="0" name="cardBrand" type="xs:string" />
      <xs:element minOccurs="0" name="distributionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="orderId" type="xs:string" />
      <xs:element minOccurs="0" name="productCategory" type="xs:string" />
      <xs:element minOccurs="0" name="rrn" type="xs:string" />
      <xs:element minOccurs="0" name="settlementDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sum" type="xs:decimal" />
      <xs:element minOccurs="0" name="tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="taxBorica" type="xs:decimal" />
      <xs:element minOccurs="0" name="tid" type="xs:string" />
      <xs:element minOccurs="0" name="transactionDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sucardError">
    <xs:sequence>
      <xs:element minOccurs="0" name="errCode" type="xs:int" />
      <xs:element minOccurs="0" name="errMessage" type="xs:string" />
      <xs:element minOccurs="0" name="errStatus" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionsForDateAPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="agency" type="xs:string" />
      <xs:element minOccurs="0" name="event" type="xs:string" />
      <xs:element minOccurs="0" name="dateEvent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tid" type="xs:string" />
      <xs:element minOccurs="0" name="requestId" type="xs:string" />
      <xs:element minOccurs="0" name="numberTrnz" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionsForDateAPIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:recEventTransactionAPIResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recEventTransactionAPIResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="listRecEventTransactionAPI" nillable="true" type="tns:recEventTransactionAPI" />
      <xs:element minOccurs="0" name="totalTrnz" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recEventTransactionAPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="areaOfIssue" type="xs:string" />
      <xs:element minOccurs="0" name="authorizationCode" type="xs:string" />
      <xs:element minOccurs="0" name="cardBrand" type="xs:string" />
      <xs:element minOccurs="0" name="distributionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="orderId" type="xs:string" />
      <xs:element minOccurs="0" name="paymentType" type="xs:string" />
      <xs:element minOccurs="0" name="productCategory" type="xs:string" />
      <xs:element minOccurs="0" name="rrn" type="xs:string" />
      <xs:element minOccurs="0" name="settlementDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sum" type="xs:decimal" />
      <xs:element minOccurs="0" name="tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="taxBorica" type="xs:decimal" />
      <xs:element minOccurs="0" name="tid" type="xs:string" />
      <xs:element minOccurs="0" name="transactionDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="managment_POS">
    <xs:sequence>
      <xs:element minOccurs="0" name="agency" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="recDevices" type="tns:recDevices" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recDevices">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="deviceIdn" type="xs:string" />
      <xs:element minOccurs="0" name="paymentType" type="xs:string" />
      <xs:element minOccurs="0" name="postCode" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="street" type="xs:string" />
      <xs:element minOccurs="0" name="streetNo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="managment_POSResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:recStatusUpdates" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recStatusUpdates">
    <xs:sequence>
      <xs:element minOccurs="0" name="deviceIdn" type="xs:string" />
      <xs:element minOccurs="0" name="errMsg" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionsDifferentDays">
    <xs:sequence>
      <xs:element minOccurs="0" name="agency" type="xs:string" />
      <xs:element minOccurs="0" name="unequality" type="xs:string" />
      <xs:element minOccurs="0" name="dateEvent" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionsDifferentDaysResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:recEventTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionsForDateCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" name="agency" type="xs:string" />
      <xs:element minOccurs="0" name="event" type="xs:string" />
      <xs:element minOccurs="0" name="dateEvent" type="xs:dateTime" />
      <xs:element minOccurs="0" name="tid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactionsForDateCurrencyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:recEventTransactionEUR" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recEventTransactionEUR">
    <xs:sequence>
      <xs:element minOccurs="0" name="areaOfIssue" type="xs:string" />
      <xs:element minOccurs="0" name="authorizationCode" type="xs:string" />
      <xs:element minOccurs="0" name="cardBrand" type="xs:string" />
      <xs:element minOccurs="0" name="distributionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="orderId" type="xs:string" />
      <xs:element minOccurs="0" name="productCategory" type="xs:string" />
      <xs:element minOccurs="0" name="rrn" type="xs:string" />
      <xs:element minOccurs="0" name="settlementDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sum" type="xs:decimal" />
      <xs:element minOccurs="0" name="sumEUR" type="xs:decimal" />
      <xs:element minOccurs="0" name="tax" type="xs:decimal" />
      <xs:element minOccurs="0" name="taxBorica" type="xs:decimal" />
      <xs:element minOccurs="0" name="taxEUR" type="xs:decimal" />
      <xs:element minOccurs="0" name="tid" type="xs:string" />
      <xs:element minOccurs="0" name="transactionDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distributionRevenueAgencies">
    <xs:sequence>
      <xs:element minOccurs="0" name="agency" type="xs:string" />
      <xs:element minOccurs="0" name="distributedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="num" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transactions" type="tns:recTransaction" />
      <xs:element minOccurs="0" name="totalSum" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="distributedAmounts" type="tns:recDistributedAmount" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="authorizationCode" type="xs:string" />
      <xs:element minOccurs="0" name="orderId" type="xs:string" />
      <xs:element minOccurs="0" name="rrn" type="xs:string" />
      <xs:element minOccurs="0" name="sum" type="xs:decimal" />
      <xs:element minOccurs="0" name="tid" type="xs:string" />
      <xs:element minOccurs="0" name="transactionDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recDistributedAmount">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="sum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="distributionRevenueAgenciesResponse">
    <xs:sequence />
  </xs:complexType>
</xs:schema>